/* Navbar-Stile */
.nav {
  background-color: #a49e9e;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav li:active {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}

.nav li:hover {
  text-decoration: dotted underline;
}

/* Cocktail-Seiten-Stile */
.cocktail-page {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom left, #540404, #ada1a1);
  min-height: 93.2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchBar {
  margin: 0;
  padding-top: 40px;
  padding-left: 60px;
  display: flex;
  justify-content: center;
}

.searchBar input {
  height: 40px;
  width: 400px;
  border-radius: 45px;
  text-align: center;
  align-self: center;
}

.random button {
  margin-left: 20px;
  height: 40px;
  width: 400px;
  border-radius: 45px;
}

/* Angepasste Stile für den Zufälliger Cocktail-Bereich */
.RandomButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.RandomButton button {
  margin-top: 10px;
  margin-left: 20px;
  height: 40px;
  width: 400px;
  border-radius: 45px;
}

/* Aktualisierte Cocktail-Titel-Stile */
.cocktail-title {
  padding-top: 20px;
  margin-top: 0;
  color: white;
  text-align: center;
  font-size: 32px;
}

h2 {
  font-size: 32px;
  margin-top: 10px;
  padding-top: 10px;
  color: white;
}

.cocktail-title h2 {
  font-size: 24px;
  margin-top: 10px;
}

.infos {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
}

.cocktail-img {
  flex: 1;
  max-width: 100%;
  max-height: 80vh;
  margin: 0 10px;
  text-align: center;
  overflow: hidden;
}

.cocktail-ingredients {
  flex: 1;
  max-width: 400px;
  margin: 0 10px;
  text-align: center;
  font-size: 18px;
  color: white;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cocktail-instructions {
  flex: 1;
  max-width: 400px;
  margin: 0 10px;
  text-align: center;
  font-size: 18px;
  color: white;
  overflow-y: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
  color: white;
}

.site-title a {
  color: white;
}